<a href="https://colab.research.google.com/github/zabir-nabil/data-viz/blob/master/tan_cnn_char.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
print('nabil')

nabil

In [59]:
# generating dummy image data
import cv2
import numpy as np
bb = np.zeros([500,500,3])
ww = 255*np.ones([500,500,3])
# class 1
cv2.imwrite('img1.png', bb)
cv2.imwrite('img2.png', bb)
cv2.imwrite('img3.png', bb)
cv2.imwrite('img4.png', bb)
cv2.imwrite('img5.png', bb)
cv2.imwrite('img6.png', bb)
cv2.imwrite('img7.png', bb)
cv2.imwrite('img8.png', bb)

# class 2
cv2.imwrite('img11.png', ww)
cv2.imwrite('img12.png', ww)
cv2.imwrite('img13.png', ww)
cv2.imwrite('img14.png', ww)
cv2.imwrite('img15.png', ww)
cv2.imwrite('img16.png', ww)
cv2.imwrite('img17.png', ww)
cv2.imwrite('img18.png', ww)

# do it for 8 more classes, it's dummy data, not needed

True

In [0]:
# dummy csv file for class 0 (simulated)
import csv

with open('test1.csv', 'w') as csvfile:
    fieldnames = ['1'] # class label
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'1' : 'img1.png'})
    writer.writerow({'1' : 'img2.png'})
    writer.writerow({'1' : 'img3.png'})
    writer.writerow({'1' : 'img4.png'})
    writer.writerow({'1' : 'img5.png'})
    writer.writerow({'1' : 'img6.png'})
    writer.writerow({'1' : 'img7.png'})
    writer.writerow({'1' : 'img8.png'})

In [0]:
with open('test2.csv', 'w') as csvfile:
    fieldnames = ['2'] # class label
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'2' : 'img11.png'})
    writer.writerow({'2' : 'img12.png'})
    writer.writerow({'2' : 'img13.png'})
    writer.writerow({'2' : 'img14.png'})
    writer.writerow({'2' : 'img15.png'})
    writer.writerow({'2' : 'img16.png'})
    writer.writerow({'2' : 'img17.png'})
    writer.writerow({'2' : 'img18.png'})

In [62]:
# test dummy csv data

import pandas as pd

test1 = pd.read_csv('test1.csv', delimiter=',')
test1.head(8) # first cell = label, other rows = image links

          1
0  img1.png
1  img2.png
2  img3.png
3  img4.png
4  img5.png
5  img6.png
6  img7.png
7  img8.png

In [63]:

test2 = pd.read_csv('test2.csv', delimiter=',')
test2.head(8) # first cell = label, other rows = image links

           2
0  img11.png
1  img12.png
2  img13.png
3  img14.png
4  img15.png
5  img16.png
6  img17.png
7  img18.png

In [64]:
# read all the csv files

# 1st class

import pandas as pd
# replace the paths with actual csv links
cls1 = pd.read_csv('test1.csv')
list_of_files1 = cls1.to_dict('records')

print(list_of_files1) # the dictionary
class_label = '1' # the first cell of csv file
list_of_files1 = [x[class_label] for x in list_of_files1]

print(list_of_files1) # now we have the list of paths of al images for a class


# class 2

cls2 = pd.read_csv('test2.csv')
list_of_files2 = cls2.to_dict('records')

print(list_of_files2) # the dictionary
class_label = '2' # the first cell of csv file
list_of_files2 = [x[class_label] for x in list_of_files2]

print(list_of_files2) # now we have the list of paths of al images for a class

# do the same for other classes

#cls2 = pd.read_csv('path/cls1')
#cls3 = pd.read_csv('path/cls1')
#cls4 = pd.read_csv('path/cls1')
#cls5 = pd.read_csv('path/cls1')
#cls6 = pd.read_csv('path/cls1')
#cls7 = pd.read_csv('path/cls1')
#cls8 = pd.read_csv('path/cls1')
#cls9 = pd.read_csv('path/cls1')
#cls0 = pd.read_csv('path/cls1')

[{'1': 'img1.png'}, {'1': 'img2.png'}, {'1': 'img3.png'}, {'1': 'img4.png'}, {'1': 'img5.png'}, {'1': 'img6.png'}, {'1': 'img7.png'}, {'1': 'img8.png'}]
['img1.png', 'img2.png', 'img3.png', 'img4.png', 'img5.png', 'img6.png', 'img7.png', 'img8.png']
[{'2': 'img11.png'}, {'2': 'img12.png'}, {'2': 'img13.png'}, {'2': 'img14.png'}, {'2': 'img15.png'}, {'2': 'img16.png'}, {'2': 'img17.png'}, {'2': 'img18.png'}]
['img11.png', 'img12.png', 'img13.png', 'img14.png', 'img15.png', 'img16.png', 'img17.png', 'img18.png']

In [0]:
# read all the images in cv2, repeat for all classes, reshape in the process 64X64

cls1 = [cv2.resize(cv2.imread(a), (64,64)) for a in list_of_files1]

# cls 2

cls2 = [cv2.resize(cv2.imread(a), (64,64)) for a in list_of_files2]

# repeat for other classes

In [66]:
# convert to numpy array
cls1 = np.array(cls1, dtype='float32')
# normalize
cls1 /= 255.

print(cls1.shape)
print(np.mean(cls1))
print(np.min(cls1))
y = []
y1 = np.zeros((len(list_of_files1)), dtype='float32') # extend it for other classes
y.extend(y1)

(8, 64, 64, 3)
0.0
0.0

In [67]:
cls2 = np.array(cls2, dtype='float32')
# normalize
cls2 /= 255.

print(cls2.shape)
print(np.mean(cls2))
print(np.min(cls2))
y2 = np.ones((len(list_of_files2)), dtype='float32')
y.extend(y2)  # for other classes extend with a list of all 2s, all 3s, and so on

(8, 64, 64, 3)
1.0
1.0

In [0]:
x = cls1

x = np.concatenate((x, cls2), axis = 0) # add two class images in a single x

# do this for other classes 
# like this
# x = np.concatenate((cls1, cls2, cls3, ...., cls10), axis = 0)

In [78]:
x.shape

(16, 64, 64, 3)

In [82]:
print(y)
y = np.array(y, dtype='float32')
print(y.shape)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
(16,)

In [0]:
# only assuming training and validation, no testing

from keras.models import Sequential
from keras.layers import Dense, Conv2D, MaxPooling2D, Dropout, Flatten

input_shape = (64,64,3)
nClasses = 2 # change it to 10, for 10 classes
def createModel():
    model = Sequential()
    model.add(Conv2D(32, (3, 3), padding='same', activation='relu', input_shape=input_shape))
    model.add(Conv2D(32, (3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.25))
 
    model.add(Conv2D(64, (3, 3), padding='same', activation='relu'))
    model.add(Conv2D(64, (3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.25))
 
    model.add(Conv2D(64, (3, 3), padding='same', activation='relu'))
    model.add(Conv2D(64, (3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.25))
 
    model.add(Flatten())
    model.add(Dense(512, activation='relu'))
    model.add(Dropout(0.5))
    model.add(Dense(nClasses, activation='softmax'))
     
    return model

In [71]:
cnn = createModel()
cnn.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 64, 64, 32)        896
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 62, 62, 32)        9248
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 31, 31, 32)        0
_________________________________________________________________
dropout_1 (Dropout)          (None, 31, 31, 32)        0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 31, 31, 64)        18496
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 29, 29, 64)        36928
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 14, 14, 64)        0
_________________________________________________________________
dropout_2 (Dropout)          (None, 14, 14, 64)        0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 14, 14, 64)        36928
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 12, 12, 64)        36928
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 6, 6, 64)          0
_________________________________________________________________
dropout_3 (Dropout)          (None, 6, 6, 64)          0
_________________________________________________________________
flatten_1 (Flatten)          (None, 2304)              0
_________________________________________________________________
dense_1 (Dense)              (None, 512)               1180160
_________________________________________________________________
dropout_4 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 1026
=================================================================
Total params: 1,320,610
Trainable params: 1,320,610
Non-trainable params: 0
_________________________________________________________________

In [84]:
from keras.utils import to_categorical

y = to_categorical(y)
print(y)

[[1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]]

In [86]:
batch_size = 16 # increase this
epochs = 10 # increase this for original data
cnn.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
 
history = cnn.fit(x, y, batch_size=batch_size, epochs=epochs, verbose=1, 
                   validation_split=0.2)

Train on 12 samples, validate on 4 samples
Epoch 1/10
12/12 [==============================] - 4s 360ms/step - loss: 0.7078 - acc: 0.7500 - val_loss: 0.4930 - val_acc: 1.0000
Epoch 2/10
12/12 [==============================] - 0s 2ms/step - loss: 0.5490 - acc: 0.3333 - val_loss: 0.1041 - val_acc: 1.0000
Epoch 3/10
12/12 [==============================] - 0s 2ms/step - loss: 0.4701 - acc: 0.3333 - val_loss: 0.0027 - val_acc: 1.0000
Epoch 4/10
12/12 [==============================] - 0s 2ms/step - loss: 0.4603 - acc: 1.0000 - val_loss: 8.2255e-06 - val_acc: 1.0000
Epoch 5/10
12/12 [==============================] - 0s 2ms/step - loss: 0.4555 - acc: 1.0000 - val_loss: 1.1921e-07 - val_acc: 1.0000
Epoch 6/10
12/12 [==============================] - 0s 2ms/step - loss: 0.4523 - acc: 1.0000 - val_loss: 1.1921e-07 - val_acc: 1.0000
Epoch 7/10
12/12 [==============================] - 0s 2ms/step - loss: 0.4489 - acc: 1.0000 - val_loss: 1.1921e-07 - val_acc: 1.0000
Epoch 8/10
12/12 [==============================] - 0s 2ms/step - loss: 0.4447 - acc: 1.0000 - val_loss: 1.1921e-07 - val_acc: 1.0000
Epoch 9/10
12/12 [==============================] - 0s 2ms/step - loss: 0.4409 - acc: 1.0000 - val_loss: 1.1921e-07 - val_acc: 1.0000
Epoch 10/10
12/12 [==============================] - 0s 3ms/step - loss: 0.4354 - acc: 1.0000 - val_loss: 1.1921e-07 - val_acc: 1.0000